debug:
    enabled: true
    address: noreply@example.com # email used to send debug notifications

subscribers:
    contenttype: subscribers # content type with the subscribers data
    emailfield: email        # email field name

# templates:
#     emailbody: extensions/bolt-sendemail_fornewcontent/email_body.twig
#     emailsubject: extensions/bolt-sendemail_fornewcontent/email_subject.twig

email:
    from_name:  Your website
    from_email: your-email@your-website.com
#     replyto_name:   #
#     replyto_email:  #

notifications:
    entries:               # contenttype
#         enabled: true
#         event: new-pusblished
#         subscribers:
#             contenttype: subscribers
#             emailfield: email
#             filter:
#                 field: newcontentsubscription
#                 value: true
#         debug:   true
#         email:
#             from_name:      # Default : Site name
#             from_email:     #
#             replyto_name:   #
#             replyto_email:  #
#         templates:          # Over ride the global Twig templates for this form
#             emailbody: extensions/bolt-sendemail_fornewcontent/email_body.twig
#             emailsubject: extensions/bolt-sendemail_fornewcontent/email_subject.twig
