{#
 # Passed in variables:
 #   record    — Record data
 #   recipient — Email recipient data
 #}
<p>Hi {{ recipient.email }},</p>

<p>A new {{ record.contenttype.singular_name }} has been published : <a href="{{ record.link }}">{{ record.title }}</a>.</p>
<hr>

<em>Sent by the <a href="https://github.com/nbehier/bolt-sendemail-fornewcontent">BoltSendEmailForNewContent</a> extension for <a href="https://bolt.cm">Bolt</a>.</em>
