{#
 # Passed in variables:
 #   config   — Email configuration date
 #   record   — Record data
 #}
<p>Hi,</p>

<p>A new record has been published on {{ paths.currenturl }}.</p>
<hr>

<em>Sent by the <a href="https://github.com/nbehier/bolt-sendemail-fornewcontent">BoltSendEmailForNewContent</a> extension for <a href="https://bolt.cm">Bolt</a>.</em>
